@charset "UTF-8";
/* CSS Document */

body, body.ui-mobile-viewport.ui-overlay-c
{
	background-color: rgba(0,0,0,0) !important;
	background-size:cover;
}

div.ui-body-c, div.ui-overlay-c {
    background: rgba(0,0,0,0) !important;
    border: 1px solid #AAAAAA;
    color: #333333;
    text-shadow: 0 1px 0 #FFFF
}

.ui-shadow-inset
{
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0) inset !important;
}

.ui-bar-a
{
    background: linear-gradient(#2383C6, #344B72) repeat scroll 0 0 #111111;
    min-height: 40px;
    max-height: 40px;
    height: 40px;
}

img.navlogo
{
    height: 20px;
    left: 20px;
    position: absolute;
    top: 10px;
    width: auto;
}
img.doublebarnavleft
{
    height: 40px;
    left: 100px;
    position: absolute;
    top: 0;
    width: 3px;
}
img.doublebarnavright
{
    height: 40px;
    right: 100px;
    position: absolute;
    top: 0;
    width: 3px;
}
img.accounticonnav
{
    height: 20px;
    right: 50px;
    position:absolute;
    top: 10px;
    width: auto;
}
.arrow-down {
    border-left: 5px solid rgba(0,0,0,0);
    border-right: 5px solid rgba(0,0,0,0);
    border-top: 5px solid #FFF;
    height: 0;
    width: 0;
    position:absolute;
    right: 30px;
    top: 18px;
}
h1.ui-title
{
    margin: 0.8em 30% !important;
}

/*
input, textarea
{
	border-radius: 0px 0px 0px !important;
	background: #fff !important;
}
div .ui-corner-all
{
	border-radius: 0px 0px 0px !important;
}
div .ui-input-text
{
		background: #fff !important;
}

table, table.ui-table
{
	table-layout: fixed;
	width: 100% !important;
}
table tr td, table tr th, .ui-table th, .ui-table td
{
	white-space: nowrap;
	 text-overflow: ellipsis;
	 overflow:hidden;
	 color: #180673;

}

. ui-table-reflow
{
	width: 100% !important;
}

#locationDetailsTable.ui-table-reflow thead td, #locationDetailsTable.ui-table-reflow thead th {
    display: table-cell;
	width: 100%;
}

STYLES BUTTONS
img.appbutton
{
	height: 30px;
	width:auto;
}
img.appbutton:hover
{
	opacity: 0.7;
	box-shadow: rgba(0,0,0, 0.1) 1px 1px 3px;
}
span.buttonfooter
{
	width: 50%;
	min-width: 230px;
	max-width:250px;

	margin-left: auto;
	margin-right: auto;
	display:block;
	height: 40px;
}
*/
